@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.tourism-bg-container {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.w9aIHhxP0FGwBJDKvo6K2wHaE7&pid=Api&P=0');
    background-size: cover;
    height: 80vh;
    width: 80vw;
}

.tourism-card {
    background-color: white;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
}

.button {
    color: white;
    background-color: blue;
    height: 38px;
    width: 138px;
    border-radius: 20px;
    border-width: 0px;
}

.favourite-places-bg-container {
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.NIXa1F4C8qj7z3LvwRpqIQHaLS&pid=Api&P=0');
    height: 100vh;
    background-size: cover;
}

.favourite-places-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 13px;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
}

.Detailed-View-bg-container {
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.O1L2N89e73mvkWuVUv5FpQHaJ4&pid=Api&P=0');
    background-size: cover;
    height: 100vh;
}

.Detailed-View-bg-container-heading {
    font-family: "Bree Serif";
    font-weight: bold;

    padding: 5px;
}

.Detailed-View-card-container {
    background-color: white;
}

.Detailed-view-text-container {
    padding: 8px;
}

.Detailed-view-text-container-heading {
    font-family: "playfair display";
    font-size: 35px;
}

.Detailed-view-text-container-para {
    font-family: "playfair display";

}