@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.home-page-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-bg.png');
    background-size: cover;
    height: 100vh;
}

.home-page-card-container {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    height: 220px;
    padding: 60px;
}

.home-page-card-container-heading {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.home-page-card-container-para {
    color: #7b8794;
    font-family: "bree Serif";
    font-size: 15px;
}

.button {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 12px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #f19116;
    height: 32px;
    width: 90px;
    margin: 15px;
}

.detailed-page-bg-container {
    background-color: #222222;
}

.detailed-page-bg-container-heading {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 23px;
    font-weight: lighter;
    padding: 15px;
}

.detailed-page-card-container {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 15px;
    height: 130px;
}

.image {
    height: 130px;
    width: 90px;
}

.detailed-page-card-container-heading {
    color: #0f0e46;
    font-family: "Bree Serif";
    font-size: 22px;
    font-weight: bold;
}

.detailed-page-card-container-para {
    color: #7b8794;
    font-family: "Bree Serif";
    font-size: 10px;
}

.text-container {
    padding: 20px;
}

.flat-discription-page-detailed-container {
    background-color: #222222;
}

.flats-discription-page-image {
    height: 220px;
    width: 340px;
}

.rent {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.location-icon-image {
    height: 30px;
    margin: 5px;
}

.address {
    color: #ffffff;
    font-family: "Bree Serif";
    padding: 10px;
}